html,body {
  max-height: 100svh;
  margin: 0;
  font-family: "Manrope", sans-serif;
  background-color: black;
  color: white;
  max-width: 100%;
  overscroll-behavior-y: none;
  overflow-y: hidden;
}


.ant-checkbox-inner::after{
  background-color: #CC3327 !important;
}